::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #8C0D6A;
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
.jumbotron { padding: 30px; }
.scroll-line  {
    position: fixed;
    top: 0;
    left: 0;
    height: 8px;
    background-color: #f90a23;
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, 0.59) 25%, #00000000 25%, transparent 50%, rgba(255, 255, 255, 0.27) 50%, rgba(255, 255, 255, 0.88) 75%, transparent 75%, transparent);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) width;
    z-index: 1;
  }

  body{
    background-color: coral;
  }
/*icon colors*/
 #entireBody{
   color: black;
   margin-left: 5%;
   margin-right: 5%;
 }

 #container{
   color: #DF6782;
 }

a:hover{
text-decoration:none;
}
.page-content .color:hover
{
transition:0.7s;
border-radius: 7em / 3em;
}

.bg-conatiner-color
{
background-color: white;
  padding: 5%;
  display: flex;
  box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
  -webkit-box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
  -moz-box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
  -ms-box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
  -o-box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
  margin-bottom: 35px;
border-radius: 20px;
transition: 0.7s;
}

.bg-conatiner-color:hover{
box-shadow: 20px 20px 60px #b8b8b8, -20px -20px 60px #fafafa !important;
transition: 0.7s;
}



.page-content .color:last-child {
margin-right: 0;
}

.page-content .color {
padding: 25px 0px;
text-align: center;
height: 300px;
box-shadow: 0 0.46875rem 2.1875rem rgba(13, 16, 45, 0.06),
  0 0.9375rem 1.40625rem rgba(13, 16, 45, 0.06),
  0 0.25rem 0.53125rem rgba(13, 16, 45, 0.13),
  0 0.125rem 0.1875rem rgba(13, 16, 45, 0.08);
border-radius: 4px;
transition:0.7s;
width: 100%;
}

.page-content .color .swatch {
position: relative;
border-radius: 50%;
margin: 0 auto 15px auto;
width: 110px;
height: 110px;
font-size: 70px;
font-weight: bold;
color: white;
text-shadow: 1px 1px rgba(0, 0, 0, 0.05), 2px 2px rgba(0, 0, 0, 0.05),
  3px 3px rgba(0, 0, 0, 0.05), 4px 4px rgba(0, 0, 0, 0.05),
  5px 5px rgba(0, 0, 0, 0.05), 6px 6px rgba(0, 0, 0, 0.05),
  7px 7px rgba(0, 0, 0, 0.05), 8px 8px rgba(0, 0, 0, 0.05),
  9px 9px rgba(0, 0, 0, 0.05), 10px 10px rgba(0, 0, 0, 0.05),
  11px 11px rgba(0, 0, 0, 0.05), 12px 12px rgba(0, 0, 0, 0.05),
  13px 13px rgba(0, 0, 0, 0.05), 14px 14px rgba(0, 0, 0, 0.05),
  15px 15px rgba(0, 0, 0, 0.05), 16px 16px rgba(0, 0, 0, 0.05),
  17px 17px rgba(0, 0, 0, 0.05), 18px 18px rgba(0, 0, 0, 0.05),
  19px 19px rgba(0, 0, 0, 0.05), 20px 20px rgba(0, 0, 0, 0.05),
  21px 21px rgba(0, 0, 0, 0.05), 22px 22px rgba(0, 0, 0, 0.05),
  23px 23px rgba(0, 0, 0, 0.05), 24px 24px rgba(0, 0, 0, 0.05),
  25px 25px rgba(0, 0, 0, 0.05);
overflow: hidden;
}  

#topImg{
    margin-top:5%;
    text-align: center;
    }
    
    #topImgAs{
      width: 50%;
      height: auto;
    }
    /*education div deck*/
    #divDeck1{
      background-image: url("images/angelaBW.jpg");
      width: auto;
      height: 300px;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: 100%;
    }

    /*social justice div deck*/
    #divDeck2{
      background-image: url("images/angela_davis_mic.jpg");
      width: auto;
      height: 300px;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: 100%;
    }

    /*another div deck*/
    #divDeck3{
      background-image: url("images/davis-hero-scaled.jpg");
      width: auto;
      height: 300px;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: 100%;
     }

    /*another div deck*/
    #divDeck4{
      background-image: url("images/angela_sitting.jpg");
      width: auto;
      height: 300px;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: 100%;
    }

      /*another div deck*/
    #divDeck5{
      background-image: url("images/bookstore.jpg");
      width: auto;
      height: 450px;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: 100%;
    }

     /*another div deck*/
    #divDeck6{
      background-image: url("images/prideflag.jpg");
      width: auto;
      height: 450px;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: 70%;
    }

    /*another div deck*/
    #divDeck7{
      background-image: url("images/BLM.jpg");
      width: auto;
      height: 450px;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: 70%;
    }

       /*another div deck*/
    #divDeck8{
      background-image: url("images/angela_glasses.jpeg");
      width: auto;
      height: 450px;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: 70%;
    }

    #hotTopics{
      text-align: center;
      color: #BF2178;
    }

    #hotTopics:hover{
      text-decoration: underline;
    }

    #insides{
  
      text-align: center;
    }

    #noLinky{
      text-decoration: none;
    }

    #linkyBooks{
      color:black;
    }
    /*Essay download pic*/
    #lecturepic{
        width: auto;
        height: 100px;
    }

    #homeIcon{
      color: black;
      margin-top:0.6%;
      background-color:#fff;
    }

    #maintitle{
      font-family: 'Krona One', sans-serif;
      color:#D9430D;
      font-size:500%;
      text-align: center;
      margin-top:6%;
    }

    #mainTitle6{
      font-size: 250%;
      text-align: center;
      font-weight: bold;
    }

    #mainTitle3{
      font-family: 'Poppins', sans-serif;
      text-align: center;
      color: #F27507;
    }

    #mainTitle4{
      color:#F27507;
      font-size:350%;
      text-align: center;
      font-family: 'Archivo Narrow', sans-serif;
    }

    #bookstores{
      font-family: 'Poppins', sans-serif;
      text-align: center;
      color: black;
      font-weight: bolder;
      text-decoration: underline;
    }
  #bookstores:hover{
    color: #F27507;;
  }

    #navbar{
      background-color: white;
    }

    #bookimages{
      text-align: center;
    }

    #linkyBooks{
      font-family: 'Poppins', sans-serif;
      color: black;
      text-decoration: underline;
    }
    #linkyBooks:hover{
      color: #F27507;
    }

    #autobiographypdf{
      font-family: 'Poppins', sans-serif;
      color: black;
      text-align: center;
      text-decoration: underline;
    }
    #autobiographypdf:hover{
      color: #F27507;
    }

    #linkyLarger{
      font-size: 120%;
      text-align:center;
      color: #8C0D6A;
      margin: 2%;
      font-family: 'Archivo Narrow', sans-serif;
      text-decoration: underline;
      }

    #textstuff{
      font-size: 120%;
      text-align:center;
      margin: 2%;
      font-family: 'Archivo Narrow', sans-serif;
    }

    #textstuff2{
      font-size: 120%;
      text-align:center;
      margin: 2%;
      font-family: 'Archivo Narrow', sans-serif;
    }

    #textstuff3{
      font-size: 120%;
      text-align:center;
      color: #8C0D6A;
      margin: 2%;
      font-family: 'Archivo Narrow', sans-serif;
    }

    #wiki{
      font-size: 120%;
      text-align:center;
      color: #8C0D6A;
      margin: 2%;
      padding-left: 33%;
      text-decoration: underline;
      font-family: 'Archivo Narrow', sans-serif;
    }

    #mainSub2{
      font-size:75%;
      text-align: center;
      font-family: 'Lora', serif;
    }
      /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}